Q1. List any five functions of the pandas library with execution.

In [1]:
import pandas as pd

# Create a DataFrame
data = {'Name': ['Alice', 'Bob', 'Claire', 'David', 'Emily'],
        'Age': [25, 30, 27, 22, 35],
        'Gender': ['Female', 'Male', 'Female', 'Male', 'Female']}

df1 = pd.DataFrame(data)

In [2]:
#To get the first rows of the Dataframe
df1.head(3)

     Name  Age  Gender
0   Alice   25  Female
1     Bob   30    Male
2  Claire   27  Female

In [3]:
#To get last rows of the Dataframe
df1.tail(2)

    Name  Age  Gender
3  David   22    Male
4  Emily   35  Female

In [4]:
#To know the datatypes of Columuns in Dataframe
df1.dtypes

Name      object
Age        int64
Gender    object
dtype: object

In [5]:
#describe(): It provides descriptive statistics of the DataFrame, such as count, mean, standard deviation, minimum, maximum, etc.
df1.describe()

             Age
count   5.000000
mean   27.800000
std     4.969909
min    22.000000
25%    25.000000
50%    27.000000
75%    30.000000
max    35.000000

In [6]:
#sort_values(): It sorts the DataFrame by one or more columns.
df1.sort_values('Age')

     Name  Age  Gender
3   David   22    Male
0   Alice   25  Female
2  Claire   27  Female
1     Bob   30    Male
4   Emily   35  Female

Q2. Given a Pandas DataFrame df with columns 'A', 'B', and 'C', write a Python function to re-index the
DataFrame with a new index that starts from 1 and increments by 2 for each row.

In [9]:
import pandas as pd

# Create a DataFrame
data = {'Name': ['Alice', 'Bob', 'Claire', 'David', 'Emily'],
        'Age': [25, 30, 27, 22, 35],
        'Gender': ['Female', 'Male', 'Female', 'Male', 'Female']}

df1 = pd.DataFrame(data)

df1

     Name  Age  Gender
0   Alice   25  Female
1     Bob   30    Male
2  Claire   27  Female
3   David   22    Male
4   Emily   35  Female

In [28]:
import pandas as pd

def reindex_dataframe(df):
    df = df.reset_index(drop=True)  # Reset the existing index
    df.index = df.index * 2 + 1  # Generate new index values

    return df

new_df = reindex_dataframe(df1)

print(new_df)

     Name  Age  Gender
1   Alice   25  Female
3     Bob   30    Male
5  Claire   27  Female
7   David   22    Male
9   Emily   35  Female

Q3. You have a Pandas DataFrame df with a column named 'Values'. Write a Python function that
iterates over the DataFrame and calculates the sum of the first three values in the 'Values' column. The
function should print the sum to the console.

In [38]:
import pandas as pd

def cal_sum(df,n):
    sum = 0

    for i in range(n):
        sum += df['values'][i]

    return f"Sum of First {n} values in the column 'values' : {sum} ."

df = pd.DataFrame({'values':[10,20,30,40,50,60,70,80]})

sum = cal_sum(df,3)

print(sum)

Sum of First 3 values in the column 'values' : 60 .

Q4. Given a Pandas DataFrame df with a column 'Text', write a Python function to create a new column
'Word_Count' that contains the number of words in each row of the 'Text' column.

In [52]:
import pandas as pd

data = {'Text' :['ArithmeticError',
                 'AssertionError',
                 'AttributeError',
                 'BaseExceptionGroup']}

df = pd.DataFrame(data)

print("Original Dataframe\n{df}")
df

Original Dataframe

                 Text
0     ArithmeticError
1      AssertionError
2      AttributeError
3  BaseExceptionGroup

In [50]:
df['Word_count'] = df['Text'].apply(len)

print(f"Dataframe after creating a new column 'word_count'\n{df}")

Dataframe after creating a new column 'word_count'

                 Text  Word_count
0     ArithmeticError          15
1      AssertionError          14
2      AttributeError          14
3  BaseExceptionGroup          18

Q5. How are DataFrame.size() and DataFrame.shape() different?

- DataFrame.size() returns the total number of elements in the DataFrame, including both rows and columns. For example, if a DataFrame has 10 rows and 5 columns, then DataFrame.size() will return 50.
- DataFrame.shape() returns a tuple of two integers, where the first integer is the number of rows and the second integer is the number of columns. For example, if a DataFrame has 10 rows and 5 columns, then DataFrame.shape() will return (10, 5).

Q6. Which function of pandas do we use to read an excel file?

In [ ]:
import pandas as pd

df = pd.read_excel('file_name.xlsl')

Q7. You have a Pandas DataFrame df that contains a column named 'Email' that contains email
addresses in the format 'username@domain.com'. Write a Python function that creates a new column
'Username' in df that contains only the username part of each email address.

The username is the part of the email address that appears before the '@' symbol. For example, if the
email address is 'john.doe@example.com', the 'Username' column should contain 'john.doe'. Your
function should extract the username from each email address and store it in the new 'Username'
column.

In [81]:
import pandas as pd

data = {'Email':['Bharath@email.com',
                 'Kumar@email.com',
                 'Reddy@email.com']}
df = pd.DataFrame(data)

df['Username'] = df['Email'].str.split('@').str[0]

print(df)

               Email Username
0  Bharath@email.com  Bharath
1    Kumar@email.com    Kumar
2    Reddy@email.com    Reddy

Q8. You have a Pandas DataFrame df with columns 'A', 'B', and 'C'. Write a Python function that selects
all rows where the value in column 'A' is greater than 5 and the value in column 'B' is less than 10. The
function should return a new DataFrame that contains only the selected rows.

For example, if df contains the following values:

- __A__ __B__ __C__
0. 3 5 1
1. 8 2 7
2. 6 9 4
3. 2 3 5
4. 9 1 2

In [87]:
import pandas as pd 

data = {'A':[3,8,6,2,9],
        'B':[5,2,9,3,1],
        'C':[1,7,4,5,2]}

df = pd.DataFrame(data)

df[(df['A'] > 5) & (df['B'] < 10)]

   A  B  C
1  8  2  7
2  6  9  4
4  9  1  2